[2016-11-16 15:17] sd3z opened #2 "Feature Request"
Hello,  we've recently rolled out SAML integration with Google Apps for our developer AWS account.  We also use this account to authorize users in our production account.   Is it possible to extend the features of samltoawsstskeys to generate temporary credentials when switching roles to the different production accounts?

The current process is to use the credentials generated with the dev accoun

[2016-11-16 16:20] gtclaancom commented on #2
Hi there!
First to get a clear picture for myself: If I understand correctly your user administration is done within the Development AWS account. Then you have created some roles in your Production AWS account with a trust policy which allows certain users from the Development account to assume this role in Production right?

When switching role using the AWS Web Management Console you would use t

[2016-11-16 16:49] gtclaancom commented on #2
On another thought: Since the above suggested solution would be based entirely on just adding the config file to your .aws directory in your home folder there is actually not any need to change the chrome plugin. You could do this already right now. No need to do this from the chrome plugin.

Please let me know if this works for you.

[2016-11-16 20:18] sd3z commented on #2
Hi Gerard,  appreciate the fast response.

Yes, your grasp of what we are doing is spot on.  We have a single AWS
account that we give all engineers poweruser access to.  This is integrated
with SAML and all engineers fall into one of the many roles I have created.

We also many other accounts for production accounts.  I have setup the
production roles to trust the developer account roles.  When a

[2016-11-16 21:04] gtclaancom commented on #2
Great, thanks for the additional info.

If selecting the desired profile (iam account alias) on the CLI or from SDK like I suggested would not be a workflow that fits, then I do have another suggestion.

In this case I agree that a sh/bat script would then be the solution to help your users. However, instead of populating the accessKey/SecretKey I would still go for having the config file in your

[2016-11-17 19:46] sd3z commented on #2
I wasn’t aware you could specify a role_arn in the aws configuration file.
Its perfect.

So I’ve setup my engineers with the following

   - All production systems and bespoke environments that have
   configuration go into the .aws\config file with the format

   [profile ###profilename###]
   region = us-east-1
   role_arn = arn:aws:iam::###accountname###:role/PowerUsers
   source_profile = defa

[2016-11-17 19:55] sd3z commented on #2
Actually I lie. Windows does support symlinks.

I just got my team to run mklink /H %UserProfile%\.aws\credentials2
%UserProfile%\Downloads\credentials.txt and things are working seamlessly

On Fri, 18 Nov 2016 at 06:46 Sean Fernandez sean@fndz.io
<http://mailto:sean@fndz.io> wrote:

I wasn’t aware you could specify a role_arn in the aws configuration file.

​

[2016-11-17 19:56] gtclaancom commented on #2
Hi Sean,
Thats great! Glad I could help and this setup works for you guys.

Actually even on Windows its possible to create a kind of symlink. I have this setup on my own pc at the office. I will have a look tomorrow and send you the instructions. Somewhere in the near future I will also update the readme.md of samltoawsstskeys since other users might be interested in this as well.

Cheers!

[2016-11-17 19:58] gtclaancom commented on #2
Yes exactly! Awesome! :-)

By the way, in the options menu of the Chrome plugin you can customize the filename, so you could save it as 'credentials' instead of 'credentials.txt'.

[2016-11-18 16:18] sd3z commented on #2
Hey,

This was all going well but has fallen over when I was trying to use it in
my development environment (Nodejs in this case).

When I running gulp to upload cloudformation or lambda, I am using the
```new AWS.SharedIniFileCredentials({ profile: profileName }); ``` . This
only looks at a single file to inherit all permissions but it doesn't use
the combination of config and credentials.

This

[2016-11-18 20:12] gtclaancom commented on #2
I see your point. It seems like the config file including the role_arn attribute is a Python only feature. And since the AWS CLI is using Python under the hood the same principle works for the CLI.

I looked into the API docs for Java, js and PHP and they all seem to support the credentials file only. No support for role_arn either. Thats a shame. Probably a feature which will come later since the

[2016-11-18 20:19] sd3z commented on #2
That's awesome.  Appreciate your help.

On Fri, 18 Nov 2016, 15:12 gtclaancom <notifications@github.com> wrote:

[2016-11-20 21:40] gtclaancom commented on #2
I've updated the code locally. It's all working fine so I expect to update the Chrome plugin in a couple of days.

[2016-11-25 14:01] gtclaancom commented on #2
The Chrome extension has been updated in the Chrome webstore. Chrome auto updates its extensions so you should be able to use the updated version any time now.

Hope this meets up to your needs.

Cheers
Gerard

[2016-11-25 14:01] #2 closed

[2016-11-26 02:38] sd3z commented on #2
Great thanks.  I've just got back from holidays so should get a chance to
use this next week.

On Sat, 26 Nov 2016, 01:01 gtclaancom <notifications@github.com> wrote:

[2016-11-28 00:19] sd3z commented on #2
Hey,

Noticed that you have a TODO for Windows Symlink. Feel free to use the
following

del %UserProfile%\.aws\credentials
mklink %UserProfile%\.aws\credentials %UserProfile%\Downloads\credentials.txt

​

On Sat, 26 Nov 2016 at 13:38 Sean Fernandez <sean@fndz.io> wrote:

[2017-09-19 21:28] TheSkorm opened #4 "Populate Role History based off samltoawsstskeys plugin"
At the company I work for we have many different accounts we manage and our operations and support teams have to jump between accounts frequently. AWS role history only allows saving of 5 roles, as it saves it in a cookie.

We have made some crude patches to a forked version of your plugin (https://github.com/TheSkorm/samltoawsstskeys/blob/extraRoles/extra_roles/roles.js) that re-initializes the n

[2017-10-24 13:29] drc-jenkins opened #5 "Chrome 62 breaks extension"
In Chrome 62, the extension no longer downloads a credentials file. Worked in Chrome 61 just fine.

[2017-10-24 13:29] #5 closed

[2017-10-24 13:30] bdruth opened #6 "Chrome 62 breaks extension"
In Chrome 62, the extension no longer downloads a credentials file. Worked in Chrome 61 just fine.

(sorry for dupe, posted this previously under the wrong account (service account)).

[2017-10-31 21:48] prolane commented on #6
@bdruth Thanks for reporting. Could you post the console output when the error occurs?

I wrote the Chrome extension while I was at my former employer. Currently I am at a company which does not have sso using saml2 set up for AWS. Therefore I'm not able to test myself at the moment. I'm going to work on a private setup with my own saml2 idp, but this won't be on short notice.

Since you specifica

[2017-11-01 07:28] prolane commented on #6
Issue has been confirmed. Interestingly enough **formData** is still available in Chrome 62 for users who reported the issue for this extension. The above example with the *webrequest-test-extension* should show the **formData** just fine. So I expect something else is failing in the AWS STS extension, but I'll have to debug that somewhere in the future once I have my IDP set up.

I'll do a quick

[2017-11-03 15:12] prolane commented on #6
[gbvanrenswoude](https://gitlab.com/gbvanrenswoude) confirmed extension is now working properly again.

@bdruth It should work for you as well now. Please let me know if you experience any other issues, but I'll close this issue.

[2017-11-03 15:12] #6 closed

[2017-12-11 18:24] etendards opened #9 "Does this chrome extension work?"
I am not having any success with the latest version of Chrome.  Do I have to run Chrome as Admin or allow the extension some level of access?

[2017-12-11 18:43] etendards commented on #6
We are using Okta.  I do not see a file being written after a successful Okta AWS login.

[2017-12-11 19:50] prolane commented on #9
@etendards Have you been using this Chrome extension before with Okta? Or is this the first time you tried using it? I have never tested it with Okta, but as long as it is SAML it should work.

Could you open the [Chrome DevTools](https://developer.chrome.com/devtools) and check the **Console** tab? Please check if any errors occur.

[2017-12-12 20:01] etendards commented on #9
No, I have not got it to work.  I dont see any errors in the Console tab related to this app.  I also have the SAML dev tool extension and can see all of that.

[2017-12-12 20:47] etendards commented on #9
I tried incognito and enabled that in the extenstion manager.  Now I get this:

**credentials.txt Failed - No file
blob:chrome-extension://ekniobabpcnfjgfbphhcolcinmnbehde/4b1a5a79-b7dc-44d1-b126-5e534ae9ac38
Downloaded by SAML to AWS STS Keys Conversion**

I get a popup to save the file.  And I save it.  Then do ctrl+j or look at downloads folder and it isnt updated.

[2017-12-12 21:02] prolane commented on #9
The error in incognito mode is quite interesting. I had never tried that, but I just found out I get same error in incognito. So unfortunately this is not related to the issue you are having with Okta. I'll create a new issue for the extension not working in incognito mode.

[2017-12-12 21:12] prolane commented on #9
I am actually quite interested in why it doesn't work together with Okta. If I check their website I can start a 30 day trial. I'm not familiar with Okta, but would I be able to set something up myself in Okta without having to connect it to any directory server or anything?

[2017-12-12 21:16] prolane opened #10 "Extension doesn't work in incognito mode"
When using the extension in incognito mode it doesn't create and download the credentials file. When checking the regular (non-incognito) window again it shows some weird file which was tried to download, but failed. It has a kind of uuid name.

[2017-12-12 21:31] prolane commented on #9
Alright, I found [this manual](https://support.okta.com/help/servlet/fileField?retURL=/help/articles/Knowledge_Article/Amazon-Web-Services-and-Okta-Integration-Guide&entityId=ka0F0000000MeyyIAC&field=File_Attachment__Body__s). I'll give this one a try on Thursday and debug what's happening in the extension.

Is what is described in this guide the same as your setup?

[2017-12-12 21:41] prolane commented on #9
One other thing you could do is go to the extension tab and tick the box for `Developer mode` at the top. You'll now be able to see this new link at the extension: `Inspect views: background/background.html`. Hit this link, test again, and check if this one shows you any errors.

[2017-12-13 15:36] etendards commented on #9
It is working now!  This is great.  I am not sure what changed, maybe clearing cache, or updating the extention.  I have all my profiles setup and it generates API keys for them all.  In Cygwin I created a softlink to the file in my downloads folder.

[2017-12-13 15:36] #9 closed

[2017-12-13 17:50] prolane commented on #9
@etendards Great! Glad to hear all is working fine now!

[2018-01-10 22:20] BennyHarv3 opened #11 "Need aws_security_key for Ansible"
The credentials file that gets output by the extension has 3 different key/value pairs:

- `aws_access_key_id`
- `aws_secret_access_key`
- `aws_session_token`

However, whenever the Ansbile EC2 module runs, it needs an additional value - `aws_secret_key` - or it will crash. My org has written a script to change the `aws_session_token` key to `aws_secret_key` (because they're the same value) to get

[2018-01-24 19:39] etendards commented on #10
Mine has also stopped working again.  I  used to have the same experience that you described but now it doesnt even try to download the file.

[2018-03-30 12:56] hao-public opened #14 "Remove the inserted space before all Line Feeds (LF)"
Each line in the credentials-file, has a space inserted before the LF. Please trim before inserting the headers and values into the file. Otherwise, you need to cleanup these spaces, when trying to read the file as an "ini-file".

[2018-04-24 02:07] sd3z commented on #2
Hello,

Do you still maintain this project?  My team and myself have made some
updates that we would love to add to this.

Things like

   - Color coding each profile so it is easier to see
   - extending the number of profiles in the history and re-writing the menu
   - Other bits to help with those that are using 10+ sub-accounts
   - Also updated the readme for Windows and OSX

​

Also I would

[2018-05-12 19:05] rayhbo opened #17 "failing to download credentials file after 5/12 update"
No longer downloads any credentials file after logging in to AWS.  Our setup is via Okta Single Sign On.

[2018-05-14 04:53] AbbTek commented on #17
https://github.com/oktadeveloper/okta-aws-cli-assume-role

[2018-05-14 06:50] prolane commented on #17
@rayhbo @AbbTek @estahn
Could any of you share the console output?

Most likely visible when you go to Extensions, turn on 'Developer Mode', and then click 'Inspect views background/background.html' for this particular extension. This will give you a new window with the console open. Try to use the extension and please share whatever output is generated.

[2018-05-14 09:25] ggili commented on #17
Hi Guys I have the same problem.
The error message I see in the console is that exceeeds the maximum duration.

The maximum duration in aws is set to
Maximum CLI/API session duration 1 hour

 But when I see in the post form data is requesting which indeed exceeds the 1h.

Action: AssumeRoleWithSAML
DurationSeconds: 14400 (4h)

Error: The requested DurationSeconds exceeds the MaxSessionDuration set

[2018-05-14 09:46] ggili commented on #17
Is there are a way maybe to expose an option to specify the default value in the UI? And also to opt out from the automatic detection?  I can confirm debugged via chrome the
 var roleDomNodes = domDoc.querySelectorAll('[Name="https://aws.amazon.com/SAML/Attributes/Role"]')[0].childNodes
returned 14400 minutes. But for my role the default is set to 1h in IAM.

[2018-05-14 10:25] prolane commented on #17
@ggili Great, thanks! To be honest, this seems to be an issue from Okta side then. Because apparently Okta is requesting a too high SessionDuration.

I do like the suggestion to configure the default value.

[2018-05-14 10:26] prolane commented on #17
Since its actually the maximum session duration for your role which is causing the issue you might want to change this:
https://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_use.html#id_roles_use_view-role-max-session

[2018-05-14 10:34] derikwhittaker commented on #17
I was able to get the credentials file to download by manually changing the SessionDuration value in the script.js file (used 900) for testing.

This is line 136 in the script.js file.

[2018-05-14 10:47] derikwhittaker commented on #17
Work around for those in need

Open up Chrome Extensions (go to this url chrome://extensions/)
Toggle Developer mode (top right corner)
Click on Details of the SAML to AWS STS Keys Conversion
Click on Inspect Views background/background.html (this will open the dev tools console)
Open the script.js file in the dev tools console
Go to line 144 and put a break point there
Navigate to awsconsole/
Aft

[2018-05-14 11:02] prolane commented on #17
@derikwhittaker Are you saying having the DurationSeconds set to 3600 does not work for you?
This is the default for when you don't supply the session duration.
https://docs.aws.amazon.com/STS/latest/APIReference/API_AssumeRoleWithSAML.html

Also, 3600 works for me for roles which are set to a 1 hour maximum session duration.

[2018-05-14 11:31] g-a-d commented on #17
We're also hitting this. Using AzureAD for SAML federation; the SessionDuration in SAML is 7200 seconds but in IAM our roles are configured for CLI/API access max 1 hour duration.

We can work round by updating the roles but this would be quite a large job. It would be great if the extension were fall back to the previous behaviour in the event that it failed to assume a role with an explicit dura

[2018-05-14 12:13] ggili commented on #17
@derikwhittaker You can increase the timeout on the IAM role to the same number as the xaml has that would work fine then.

I cannot do that so I put a breakpoint to the scripts.js and change it manually in the debuger :)

[2018-05-14 12:18] gbvanrenswoude commented on #17
We had the same issue and solved it by aligning SessionDuration in the SAML and max_session_duration for the AWS IAM role.

[2018-05-14 13:31] derikwhittaker commented on #17
@prolane  yes, when I did 3600 i got an error, 3599 did not.

@ggili  i am unable to change my IAM role as we are using SSO for AWS (enterprise accounts) and making this change would involve an act of god.  Ok not really, but not able to get anything changed at this point so changing to 3599 works for now.

[2018-05-14 13:31] ashemedai commented on #17
I need to add a proper case for the 400 Bad request it returns from AWS and then just AssumeRole with the default value (unless someone beats me to it).

[2018-05-14 14:34] rayhbo commented on #17
I can confirm that I was not able to set the role STS expiration to 3599 seconds, the AWS UI would not accept that value, however, selecting 12h made it work.

[2018-05-14 14:41] okachobi commented on #17
Latest update broke the extensions for me. Console shows this error:

`saml:1 Error in event handler for (unknown): TypeError: e.replace is not a function
    at containsSubString (chrome-extension://hdokiejnpimakedhajhdlcegeplioahd/onloadwff.js:91:30968)
    at textFieldScore (chrome-extension://hdokiejnpimakedhajhdlcegeplioahd/onloadwff.js:91:31072)
    at chk_form_has_totp (chrome-extension://h

[2018-05-14 14:44] ashemedai commented on #17
@prolane Given the amount of people using this, maybe it's best to back out my change to ease the disruption while I resolve some of these issues? Would hate to impose on you for a new release though.

[2018-05-14 14:46] ashemedai commented on #17
@okachobi `hdokiejnpimakedhajhdlcegeplioahd` seems to be LastPass, not this extension.

[2018-05-14 14:52] prolane commented on #17
@ashemedai I'm thinking to make a release tonight which enables you to opt out for using the session duration request from the IDP. That should solve the issue.

[2018-05-14 14:55] ashemedai commented on #17
@prolane Sounds good. I want to make sure I got these 400 and possible 403 (when you lack
`sts:AssumeRole` permissions) responses tackled.

I find the 3599 case utterly weird though. Almost like an off-by-one, but it makes no sense in all these contexts. Especially given it would previously default to 3600 with `AssumeRole()` without the `DurationSeconds` parameter.

[2018-05-14 19:16] prolane commented on #17
Release 2.3 has just been published in the Chrome Web Store. Usually its available with 1 hour. If Google does not push it to your browser you can manually get it by restarting your browser.

Release 2.3 introduces the ability to enable/disable the SessionDuration. If you don't use it it is all left to the sdk and api to use the defaults (as it was in release 2.1 and downwards).

[2018-05-15 08:31] policarpo opened #19 "Plugin does not write to credentials all the profiles that were setup"
Since the new version, 2.3, I no longer see all the profiles I setup on the plugin on my credentials file. It seems to always ignore the first profile I setup.
If for example I add one profile then I only see the default. When I add a new one then I will see default + the second profile I add

[2018-05-15 08:39] aman-agrawal-coolblue commented on #19
I had this problem too. Until the previous version, I had setup a development profile in the plugin which got downloaded into my credentials file (along with the default one). Today, I downloaded a fresh credentials file and I can't see the development profile anymore, only default. To workaround this I have had to add 2 additional profiles, re-download the credentials file and update my config to

[2018-05-15 11:46] prolane commented on #19
@policarpo @aman-agrawal-coolblue Does this also happen when you set 'SessionDuration' to 'no' in the option panel?

[2018-05-15 12:05] prolane commented on #19
Just tested the above described scenario. I.e. where one of the extra roles has a max session duration which is lower than the requested session duration from the SAML provider. The extension will create all the profiles in the credentials file for the roles which where able to be assumed. Just not the profiles which gave an error 'requested DurationSeconds exceeds the MaxSessionDuration set for t

[2018-05-15 15:29] cpollard0 opened #20 "Working intermittently after updates a few days ago"
This isn't working 100% of the time now. The credentials file is not getting generated intermittently.

Using google chrome: Version 66.0.3359.139 (Official Build) (64-bit)

[2018-05-16 06:01] prolane commented on #20
Have you tried opting out of the 'SessionDuration' feature in the options panel? Set this setting to 'no' and see if this works for you.

[2018-05-16 11:28] cpollard0 commented on #20
That did it; thank you sir!

[2018-05-16 11:28] #20 closed

[2018-05-18 11:43] policarpo commented on #19
@prolane sorry hadn't seen your reply. here is screenshot of the error i get
![image](https://user-images.githubusercontent.com/3093649/40233005-784be80e-5aa1-11e8-831c-4e1554750125.png)

[2018-05-18 11:54] prolane commented on #19
@policarpo Okay thanks. The error shows its indeed the duration of the session what is the issue. The Identity provider you login to (e.g. ADFS, Okta) is requesting a session duration longer than 1 hour. However, the IAM roles you are trying to assume do not allow this.

So either you change the configuration of your Identity provider of you change the settings of you IAM role.
https://docs.aws.am

[2018-05-18 11:54] #19 closed

[2018-05-18 12:13] policarpo commented on #19
@prolane FYI, i did get that error when i had already changed the `SessionDuration` to `no`

[2018-05-18 12:26] prolane commented on #19
@policarpo So if I understand you correctly, you have set SessionDuration to no, and it all works for you now (all profiles get valid keys in the credentials file), but you do see the error from your screenshot? Did I get that right?

[2018-05-18 13:40] policarpo commented on #19
Yes that is correct

[2018-05-22 05:51] allieliongpailui opened #21 "CRLF instead of LF for new line"
I am trying to use S3 browser with the credential file but it does not support LF as new line.
The original credentials file using aws configure has CRLF as the new line.
Can this be changed to CRLF?

[2018-07-11 15:06] joshphp opened #22 "Credentials File Download Issue - Google SessionDuration"
We are setting the `SessionDuration` via Google CustomSchema for users logging into AWS via SAML. For some, when they login, the credentials file does not download. To resolve it, they change `Apply the SessionDuration requested by the SAML provider.` to `No` and the file downloads. For others, including myself, it works as expected with that option set to `Yes`. We are running the same version of

[2018-07-15 10:52] prolane commented on #22
The others that need to change the setting to `No`, are they trying to assume the same IAM role as yourself?

Each IAM role has its own maximum session duration setting. Most likely this is the reason why it works for some and doesn't work for others. See also: https://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_use.html#id_roles_use_view-role-max-session

[2018-07-16 13:34] joshphp commented on #22
I think I missed updating the duration for a role or two which is then why the credentials file failed to download. Closing!

[2018-07-16 13:34] #22 closed

[2018-08-02 13:53] hrast01 opened #23 "Chrome 68 breaks credentials download"
After the update to Chrome 68, the extension no longer downloads the credentials file when doing SAML auth.  I had a colleague report a problem, and I couldn't reproduce until I updated Chrome, and then I got the same behavior.

[2018-08-02 14:55] hrast01 commented on #23
Tested that reverting to Chrome 67 did, in fact, resolve the issue.

[2018-08-02 16:08] prolane commented on #23
I can't confirm the issue yet.
Tested with Chrome `Version 68.0.3440.84` on Mac and the credentials file downloads without an issue.

Please provide debug logs.
Go to Extensions, turn on 'Developer Mode', and then click 'Inspect views background/background.html' for this extension. This will give you a new window with the console open. Try to use the extension and please share whatever output is g

[2018-08-02 16:29] hrast01 commented on #23
I am also on Mac running High Sierra (10.13.6) and Chrome 68.0.3440.84.  Here's what pops up in the Console in Dev mode.

`Error in event handler for webRequest.onBeforeRequest/1: TypeError: Cannot read property '0' of undefined
    at onBeforeRequestEvent (chrome-extension://ekniobabpcnfjgfbphhcolcinmnbehde/background/script.js:88:55)`

[2018-08-02 18:36] prolane commented on #23
Got it, thanks. I think I see the issue.
Am I right your SAML provider only sends along **one** IAM role?

[2018-08-02 18:49] prolane commented on #23
Never mind. I was already able to reproduce myself. The issue is indeed when just one IAM role is present in the SAML claim.

I wonder how this ever worked before Chrome 68. I guess the previous versions were a bit less restrictive to non existing indexes. The issue is in this line of code:
https://github.com/prolane/samltoawsstskeys/blob/e06fcb1e64b8fbf81e02d57c6964e4f10219f9ce/background/script.

[2018-08-02 19:15] hrast01 commented on #23
In my case, I'm only requesting the one role's credentials, but in my colleague's case he was requesting 3 additional role's credentials.

[2018-08-02 19:27] hrast01 commented on #23
Just for completeness (and my own sense of sanity), I added three additional roles that I can assume to the plugin, same error:

[code]

[2018-08-02 19:32] prolane commented on #23
Thanks for the info, but this still makes sense. The additional roles can only be assumed if the IAM role from the SAML claim can be assumed.

What I was talking about is when your Identity Provider (SAML Provider) adds multiple role claims into the SAML data.

No worries, I've already made a patch and this seems to work locally. I'll soon push it to the Chrome store.

[2018-08-02 19:44] prolane commented on #23
@hrast01 New version is pushed to the Chrome store. Usually its available within 1 hour.
In order for Chrome to fetch the latest version you can best restart Chrome.

[2018-08-03 03:00] hrast01 commented on #23
Works great, thanks for the quick update!

[2018-08-03 06:10] prolane commented on #23
Thanks for letting me know!

[2018-08-03 06:10] #23 closed

[2018-08-13 02:26] sd3z opened #24 "Failing to download credentials"
Hello,

It looks like if a user only has a single SAML role, the extension fails to download the credentials file.

I've done a little digging and it appears that the Chrome Extension is being canceled due to the SAML https://signin.aws.amazon.com/saml response being a Redirect 302.

I've tried to add "<all_urls>" to the manifest file, but I think the response doesn't have the payload that the plu

[2018-10-11 20:42] etendards opened #25 "Download not working again"
We have Okta MFA disabled currently in our dev environment.  And now I am not getting the credentials download again.  Is anyone else experiencing issues?  I even tried incognito so not many extensions are loaded.

Chrome Version 69.0.3497.100 (Official Build) (64-bit)

[2018-10-18 14:20] BrandonDusseau commented on #25
I'm experiencing the same issue now. Any updates?

[2018-10-18 14:35] prolane commented on #25
Still working with ADFS.

Could you guys share the error logs.
Go to Extensions, turn on 'Developer Mode', and then click 'Inspect views background/background.html' for this extension. This will give you a new window with the console open. Try to use the extension and please share whatever output is generated.

[2018-10-18 14:37] BrandonDusseau commented on #25
POST https://sts.amazonaws.com/ 400 (Bad Request)
    script.js:152 Error: The requested DurationSeconds exceeds the MaxSessionDuration set for this role.
        at constructor.s (aws-sdk-2.7.5.min.js:35)
        at constructor.callListeners (aws-sdk-2.7.5.min.js:36)
        at constructor.emit (aws-sdk-2.7.5.min.js:36)
        at constructor.emitEvent (aws-sdk-2.7.5.min.js:35)
        at constru

[2018-10-18 14:39] BrandonDusseau commented on #25
It looks like the extension works for one role but fails for two others in my organization.

[2018-10-18 14:42] prolane commented on #25
Please see this closed issue:
https://github.com/prolane/samltoawsstskeys/issues/17

Its about `Error: The requested DurationSeconds exceeds the MaxSessionDuration set for this role.`

This means you are requesting access for a longer duration than what is allowed for this IAM role.

[2018-10-18 14:45] prolane commented on #25
From the 2.3 release notes:

[2018-10-18 14:46] BrandonDusseau commented on #25
Thanks! I didn't see that before. It's working for me now that I've disabled the option.
However, I do feel bad for hijacking the original reporter's issue in case they are not having the same problem as me.

[2018-10-18 14:48] prolane commented on #25
Great! I'll add this bit to the readme soon as I guess its a common question.

I'll let the issue open for a few days so @etendards has a chance to respond as well.

[2018-10-18 19:20] etendards commented on #25
Interesting.  Mine is now working too.  I am not sure anything changed on
my system.  I think I rebooted Widows the other day.

On Thu, Oct 18, 2018 at 10:36 AM G.T.C. (Gerard) Laan <
notifications@github.com> wrote:

[2018-10-18 20:02] prolane commented on #25
I'm confused @etendards . You mentioned its working. So when does the error popup? Could you please paste the complete stack trace from the console?

403 Forbidden would suggest your user does not have permissions for doing the STS action 'AssumeRoleWithSAML'.
https://docs.aws.amazon.com/IAM/latest/UserGuide/list_awssecuritytokenservice.html#awssecuritytokenservice-actions-as-permissions

[2018-11-15 21:21] prolane commented on #14
Fixed in release v2.5
https://github.com/prolane/samltoawsstskeys/commit/21f4738cdd9e4e8b13a77973e1f19a12aec6c0f8

[2018-11-15 21:21] #14 closed

[2018-11-15 21:21] prolane commented on #21
Fixed in release v2.5
https://github.com/prolane/samltoawsstskeys/commit/21f4738cdd9e4e8b13a77973e1f19a12aec6c0f8

[2018-11-15 21:21] #21 closed

[2018-12-04 13:54] bgshacklett opened #26 "Additional Named Roles are Not Populating"
Summary:
Testing with some of my coworkers has shown that at least some additional named roles are not populating in the downloaded Credentials file for us.

Steps to Reproduce:
* Configure the extension with named roles.
* Log into AWS via IDP.
* Select a role to be set as the Default role.
* Complete the log-in process.

Expected behavior:
* The role chosen when logging into the AWS page will be

[2018-12-06 09:43] prolane commented on #26
Hi @bgshacklett
I think you might have misunderstood how the credentials are fetched for those optional additional roles. Although I have to admin, its not that clear from the description either, so I don't blame you. :-)

Its not the SAML response that is used to fetch credentials for those additional roles. How it works is as follows:

* Log in to AWS via IDP
* Select the role you want to assume

[2018-12-10 08:11] prolane commented on #26
Well, first of all, I definitely welcome contributions to the code, so lets see how we can make this work. But on first glance I'm thinking I might need to refactor the code to make it easier to integrate new features. The majority of the extension was written before I was even aware of Javascript Promises for example. I guess if I would start from scratch today I would do things differently. Mayb

[2019-02-01 18:40] outlineruler opened #28 "Chrome 72 breaks download"
I am using Chrome Version 72.0.3626.81 (Official Build) (64-bit) and immediately after the upgrade the credentials download stopped working. I attempted to pull logs from the extension console using instructions listed in previous issues of this kind but there is not any output.

[2019-02-01 18:43] nitrocode commented on #28
Is there anything that was removed recently that this depended on?

https://developers.google.com/web/updates/2018/12/chrome-72-deps-rems

[2019-02-03 11:45] prolane commented on #28
Quick update:

https://github.com/prolane/samltoawsstskeys/blob/215fb5e24585f911b5c56e2fe83a22f87284f95d/background/script.js#L223

This goal for this line of code is to create a local 'downloadable' object. The URL that is generated is in the form of `chrome-extension://chjpchfchpknieidncedaigaednecjlg/d87e96e1-d12d-4e27-86e3-d3c549a1ef37`.

This is not working anymore. It does seem to generate t

[2019-02-03 22:53] nitrocode commented on #28
That sounds like a bug with the native [createObjectURL](https://developer.mozilla.org/en-US/docs/Web/API/URL/createObjectURL) or one of the parameters. Do you see a difference its function arguments between chrome 71 vs 72?

[2019-02-04 08:46] prolane commented on #28
I did some more experiments. There is no difference in the `createObjectURL` function arguments. However, I did confirm there is a difference in how Chrome handles requesting the URL coming out of the `createObjectURL` function.

First of all, for anyone who is not aware, the idea behind `createObjectURL` is it will create an URL which points to the user agents local [Blob store](https://w3c.githu

[2019-02-04 13:47] bob2build commented on #28
@prolane With your code as basis, I had built a similar extension. The only catch here is that, it supports multiple roles.
https://github.com/bob2build/idpawssamlinterceptor-chromextension

based on my observation, there is intermittent failure during intercepting saml assertion that is sent to amazonaws.com. I don't think this has anything to do with the download api since my plugin doesn't even

[2019-02-04 13:55] prolane commented on #28
@bob2build That sounds like a different issue to me. For this particular issue I've already confirmed the extension does its job right all the way up to the actual download of the credentials file. I'm now at the point that I'd like to submit a bug report for Chromium or work on an alternate approach.

If you found something else that broke in the extension, please create a new issue.

P.S.
Very n

[2019-02-04 16:10] prolane commented on #28
I've submitted a bug report for Chromium. Lets first see what that will bring us.

https://bugs.chromium.org/p/chromium/issues/detail?id=928307

[2019-02-04 19:24] bob2build commented on #28
@prolane, you are right. I have 2 different issues,
This plugin no longer works with okta. (It used to work previously, but stropped working when a new AWS okta app was added which combined all AWS accounts into single one). Hence I had created my own plugin. I have traced back this issue to permissions. If I add permissions to *.okta.com in manifest alone, Then my plugin properly intercepts the s

[2019-02-04 19:35] prolane commented on #28
Alright folks, the Chromium team has confirmed its a bug. We'll have to wait for the fix now.

Anyone who is looking for a temporary workaround could do the following:
- Go to `chrome://flags/#network-service`
- Disable the Network Service
- Relaunch Chrome

[2019-02-06 13:20] Ebram-Tharwat commented on #28
@prolane , disabled the Network Service and Relaunching chrome didn't work.
Are there any extra missing steps?

[2019-02-06 13:41] prolane commented on #28
@Ebram-Tharwat No additional steps. Its because the Chrome bug is in the Network Service path. So if you disable the Network Service, you don't face this bug.

If its not working for you, then I'm assuming you're facing a different issue. You could check by following this procedure:

- Go to Extensions
- Turn on 'Developer Mode'
- Click 'Inspect views background/background.html' for this particula

[2019-02-06 15:27] ashemedai commented on #28
Hi @prolane 👋

FWIW: can't reproduce this on my MacOS Mojave 10.14.2 with 72.0.3626.81 (Official Build) (64-bit).

Every time I log into AWS I download the `credentials` file.

Also, when I do `blob:chrome-extension://chjpchfchpknieidncedaigaednecjlg/5d115834-4cc1-46d9-9e27-78b96be6b270` I get:

[code]

[2019-02-06 15:41] prolane commented on #28
Heey @ashemedai !
You mean you don't have the issue or you can't get it to work with the work around?

Yeah, we can forget the test I mentioned with requesting `blob:chrome-extension://chjpchfchpknieidncedaigaednecjlg/5d115834-4cc1-46d9-9e27-78b96be6b270`. This is not supposed to work. I tried this in an ancient version (I think 49?) where this did work. So I assumed wrongly this was part of the i

[2019-02-07 08:15] prolane commented on #28
Google pushed the new minor version `72.0.3626.96`. I checked myself and the extension works now again for me, also with the `Network Service` set back to 'default' again.

@outlineruler @nitrocode Could you please confirm?

[2019-02-07 12:50] tiesmaster commented on #28
@prolane Hi, direct collegae of @Ebram-Tharwat, for us, the issue is not fixed with the new bugfix release of Chrome (72.0.3626.96 (Official Build) (64-bit)). I also tried the [workaround you mentioned](https://github.com/prolane/samltoawsstskeys/issues/28#issuecomment-460381707), but didn't fix for me on `.96`. I guess that makes sense, since it looks like that it's _not only_ an issue in the net

[2019-02-07 12:56] prolane commented on #28
Hi @tiesmaster , I didn't hear anything back from @Ebram-Tharwat. Please try the steps I suggested to @Ebram-Tharwat and let me know if the console shows any errors.

[2019-02-07 13:00] ashemedai commented on #28
@prolane Just didn't have the issue *at all*. Colleagues here all seemed to have managed to trip it (see above) except my system.

[2019-02-07 13:22] prolane commented on #28
Ah I see, @tiesmaster and @Ebram-Tharwat are also colleagues of you @ashemedai.

Quite interesting you didn't have this issue at all as there was clearly a bug in Chromium. Maybe the Network Service was somehow disabled for you as the default? Anyway, good for you :-) Unfortunately not so good for your colleagues. My gut feeling says your colleagues are facing a different issue though.

[2019-02-07 19:01] outlineruler commented on #28
@prolane the update to Chrome `72.0.3626.96 (Official Build) (64-bit)` did not resolve the issue for me.

[2019-02-07 19:23] prolane commented on #28
@outlineruler How strange. Did the workaround with disabling the Network Service work for you?

When I upgraded to `72.0.3626.81` the extension also broke for me. What I saw happening is Chrome was still trying to create a new download. I could see that Download bar at the bottom. But then the download just failed. Something with a 'Network Error'.

Is this also what you see?

[2019-02-07 19:27] outlineruler commented on #28
The disabling network-service did not work for me with the previous version or the new update and I do not see the download bar at the bottom of my browser.

[2019-02-07 19:35] prolane commented on #28
Okay thanks @outlineruler
Must indeed be a second issue with Chrome 72 then. I'll push a patched version of the extension with some more debug. Hopefully like this we'll know more about whats going on at your end and for the others.

Quite interesting this issue affects a few people, but not everyone....

[2019-02-07 20:50] tiesmaster commented on #28
@prolane Ok, this is really weird. This afternoon, I tried to put a breakpoint on [L221](https://github.com/prolane/samltoawsstskeys/blob/20133da493b2a95038f6dfc384387611103b3c15/background/script.js#L221), in order to _at least_ capture the access key, so I could paste it into the credentials file, however, that never hit.

I thought I was doing something wrong in Dev Tools (I'm not a webdev 😜),

[2019-02-07 21:35] prolane commented on #28
@tiesmaster Thats interesting. So you're saying these lines of code are probably not working for you anymore?
https://github.com/prolane/samltoawsstskeys/blob/dafc1327a88015d48f840e5787bb2a33e0fb2043/background/script.js#L37-L41

This is where the Listener is added for the `onBeforeRequest` event. When it hits, the `onBeforeRequestEvent()` function should be called.

[2019-02-07 21:42] prolane commented on #28
For those of you for which the extension isn't working yet, there is a new version of the extension: version `2.6`. Once updated to this version, please go to the options panel and enable Debug logs. After enabling, please restart Chrome so we'll see the debug logs from the start of the extension.

Then do the following:
* Go to Extensions
* Turn on 'Developer Mode'
* Click 'Inspect views backgrou

[2019-02-08 16:18] outlineruler commented on #28
Followed the above steps but I am not getting much in the log other than the initialization of the extension. I am using Duo to auth. It seems like the extension is not getting triggered after I pass the auth challenge and am redirected to AWS.

[code]

[2019-02-08 20:35] prolane commented on #28
Okay, thanks @outlineruler
What the debug logs show is the `Listener` (which listens for requests to the AWS saml url) is added. However, this event never happens.

For testing purposes, you could enable the extension and then just request the url `https://signin.aws.amazon.com/saml` in a new tab. I'm pretty sure you'll now see a 3rd debug log line saying: `DEBUG: onBeforeRequest event hit!`. Foll

[2019-02-08 20:54] prolane commented on #28
I've pushed version `2.7` of the extension. This will probably solve the issue @outlineruler @tiesmaster @Ebram-Tharwat

[2019-02-08 20:59] outlineruler commented on #28
@prolane I confirm that I get the 3rd DEBUG line when following the steps. I'll give the new version a try when my browser updates.

[2019-02-08 21:29] outlineruler commented on #28
The new version has solved the issue and the credentials file is downloading now.

[2019-02-08 21:30] prolane commented on #28
Awesome. Thanks for reporting the issue.

[2019-02-08 21:31] #28 closed

[2019-02-08 22:04] tiesmaster commented on #28
@prolane I've also validated the fix  🎉 Time for 🍺

Thanks for digging into this in more detail, and the extensive explanation behind this issue 👍

[2019-02-09 08:30] prolane commented on #28
Great! Glad to hear that! 👍

[2019-02-11 08:41] Ebram-Tharwat commented on #28
I also confirm that the updated version of the extension for chrome *72.0.3626.96* works correctly

[2019-02-18 13:37] BrandonDusseau opened #29 "Credentials file download fails with GUID filename"
As of this morning, I am no longer able to download the `credentials` file using the extension. Instead of the file, I now get a failed download with a GUID as a filename.

![capture](https://user-images.githubusercontent.com/3901864/52954107-4687ff80-3357-11e9-8fb9-87d1f1114dcd.PNG)

Debug log below:
[code]
Attempting to visit the above URL results in a 404.

Settings:
Filename: credentials
Apply

[2019-02-18 14:31] prolane commented on #29
Thanks for reporting. This is a known bug in Chrome.
See issue https://github.com/prolane/samltoawsstskeys/issues/28

You need Chrome `72.0.3626.96` or higher.

You could try the workaround mentioned over here if you are unable to upgrade Chrome:
https://github.com/prolane/samltoawsstskeys/issues/28#issuecomment-460381707

[2019-02-18 14:32] #29 closed

[2019-02-22 10:06] paedelm opened #30 "Spaces around "=""
AWS-CLI has troubles with:
aws_.......... =  value

It has no troubles with:
aws_..........=value

Is it possible to remove the spaces around the equal-sign?
Thanks in advance.

[2019-04-12 18:56] nitrocode opened #31 "Manual override the SessionDuration param if "Apply the SessionDuration requested" is set to No"
Our AWS has a default of 1 hour session but allows up to 12 hours. The current SessionDuration doesn't seem to collect this maximum of 12 hours, goes to null, and AWS defaults to all generated credentials to one hour.

https://github.com/prolane/samltoawsstskeys/blob/master/background/script.js#L109

It would be nice if when we set `Apply the SessionDuration requested` to `no`, an input box could

[2019-06-11 19:30] etendards commented on #31
This is the error when I try to go above 1 hour.  I have to set the Extension option to "No" for it to work with Roles that have been set to higher than 1 hour.  Since Okta is giving us a Role already, the assume role gets limited to 1 hour for all other roles you assume.  But the first role from your IdP can be higher than 1 hour.  https://forums.aws.amazon.com/thread.jspa?threadID=242680

"Valid

[2019-06-14 13:40] onionhammer opened #32 "Optionally to not pop up the save dialog"
It would be great if there was an option to not automatically pop up the save dialog once you log in, and instead save it until the user clicks the extension and chooses "save credentials" from the menu.

[2019-06-19 08:05] AstroTom opened #33 "Doesn't work for me"
Hi,
Not sure what the problem is. I installed the plugin and logged in to the AWS console with my Google G-suite SAML, but nothing happens. Is something supposed to pop up?

I also tried this i Incognito mode, but that also does not work.

I also installed it in firefox, but with the same negative results.

Any suggestions?

[2019-11-10 10:16] marky1975 opened #35 "Filename ignored"
Hi

Extension works great, however the file name I specify in the options is ignored and instead a random name is generated for the file in the downloads folder from chrome.

Anybody else with this issue?

Thanks

[2020-01-09 02:24] AutoMatt-ic commented on #35
This has started happening to me as well.

[2020-01-09 10:45] prolane commented on #35
On which version of Chrome are you?
I've updated to the latest version `79.0.3945.117` and for me it still works.

Is there anything strange showing in the logs?
To see the logs:

Go to Extensions
- Turn on 'Developer Mode'
- Click 'Inspect views background/background.html' for this particular extension
- Go the the 'Console' tab (if its not already active)

[2020-01-09 15:49] AutoMatt-ic commented on #35
It was another addon (multi file downloader).  Ripped that out, it behaves as expected.  False alarm.

From: G.T.C. (Gerard) Laan <notifications@github.com>
Sent: Thursday, January 9, 2020 2:45 AM
To: prolane/samltoawsstskeys <samltoawsstskeys@noreply.github.com>
Cc: Matthew Bausch <matthew.bausch@autodesk.com>; Comment <comment@noreply.github.com>
Subject: Re: [prolane/samltoawsstskeys] Filename

[2020-01-13 08:56] prolane commented on #35
Alright, cool. I'll close the issue then.

[2020-01-13 09:23] marky1975 commented on #35
Hi

I still have the issue if anyone can help.

From: G.T.C. (Gerard) Laan <notifications@github.com>
Sent: 13 January 2020 08:56
To: prolane/samltoawsstskeys <samltoawsstskeys@noreply.github.com>
Cc: Mark Fairhurst <Mark.Fairhurst@Brightstar.com>; Author <author@noreply.github.com>
Subject: Re: [prolane/samltoawsstskeys] Filename ignored (#35)

CAUTION: This email originated from outside of the o

[2020-01-13 09:30] prolane commented on #35
@marky1975 Did you try what @AutoMatt-ic did? Disable your other Chrome plugins as there is maybe one that interferes?

If thats not the issue, you could also look in the logs (as suggested above) to see if there is anything suspicious.

[2020-01-13 09:38] marky1975 commented on #35
Hi

Tried as you suggested and it does look to be and incompatibility with one of the other plugins I have installed,  I have several so its just a case of going through them one by one to see which is the problem.

Thank you for your help and resolution.

[2020-01-13 09:38] #35 closed

[2020-01-13 10:02] prolane commented on #35
Cool. Sure, no worries mate. Glad you like the extension.

[2020-01-21 15:44] ChristophShyper commented on #33
Doesn't work on MacOS with Chrome.

[2020-01-21 15:54] prolane commented on #33
Hi guys

@AstroTom You are supposed to see Chrome downloading a file, which will be saved to the location specified in the options panel.

Both of you could try checking the logs:

Go to Extensions
- Turn on 'Developer Mode'
- Click 'Inspect views background/background.html' for this particular extension
- Go the the 'Console' tab (if its not already active)

Also, I've seen other users reporting

[2020-01-22 08:53] ChristophShyper commented on #33
Hello,
I've tried couple of different combinations without any effect.
Console is empty.

[2020-01-22 09:04] prolane commented on #33
Do you have debug enabled in the options panel @ChristophShyper ?

I'm on MacOS with Chrome as well btw. So I'm expecting there is something odd with your setup perhaps?

[2020-01-22 09:11] ChristophShyper commented on #33
OK, after some more digging console logs are showing up:
`ValidationError: The requested DurationSeconds exceeds the MaxSessionDuration set for this role.
    at constructor.s (chrome-extension://ekniobabpcnfjgfbphhcolcinmnbehde/lib/aws-sdk-2.7.5.min.js:35:9093)
    at constructor.callListeners (chrome-extension://ekniobabpcnfjgfbphhcolcinmnbehde/lib/aws-sdk-2.7.5.min.js:36:2887)
    at constructo

[2020-01-22 09:21] prolane commented on #33
There you go.

The error already says it all. You have a configuration mismatch between Okta and the AWS Role:
https://docs.aws.amazon.com/IAM/latest/UserGuide/troubleshoot_saml.html#troubleshoot_saml_duration-exceeds

[2020-01-22 11:12] ChristophShyper commented on #33
Thank you for pointing to IAM setup. It's one of those options that I forgot even exists :)
Now extension works perfectly and switching between the accounts is super easy.

[2020-01-22 11:56] prolane commented on #33
Great @ChristophShyper, glad it works now ! 👍

[2020-01-22 11:57] prolane commented on #33
@AstroTom Please re-open the issue in case the above suggestions did not help you.

[2020-01-22 11:57] #33 closed

[2020-03-03 19:47] GaboFDC opened #37 "Update firefox extension"
Not sure if the firefox extension is maintained by you guys, but Firefox version is on 2.5
It would be nice to keep it up to date.
Thanks,

[2020-04-23 09:24] Dalbir87 opened #38 "Selecting SessionDuration does not work"
Once I change the session duration to Yes it stops prompting for saving the credential file and my AWS CLI session keeps expiring in 30 mins.

[2020-04-23 10:48] navneet-rathi opened #39 "plugin didnot work if session duration is 1 hour"
plugin dont prompt the file to download if session duration is less than 12 hours

[2020-05-23 01:59] dcdolson opened #40 "Access key ID is not recognized by AWS."
After logging in to AWS, the app provided a credential file to download.
However, the credentials do not work. When using `aws s3 ls`, I got this error:

[code]

I tried twice, got the same.

Maybe I configured something wrong, but I don't know what. Any ideas?
I installed from the chrome web store just now. It is unclear which version it is.

[2020-05-24 02:11] dcdolson commented on #40
The issue was I did not use the session token, only the key-id and secret key.

[2020-05-24 02:11] #40 closed

[2020-07-14 17:09] keeely commented on #38
I don't think 'yes' should be the default, as it was when I installed, I needed to switch to 'no' to make it work at all.

[2020-07-17 16:02] hrast01 opened #42 "Blocked credentials file download on Chrome 83 and 84"
When connecting to AWS:
_credentials may be dangerous, so Chrome has blocked it._

Worked yesterday, it appears Google has made a change, perhaps enforcing a change in their extension policies?

[2020-07-17 18:31] hrast01 commented on #42
And, as usual, this appears to have been a Google issue.  My apologies for the false alarm.

[2020-07-17 18:31] #42 closed

[2020-11-26 22:03] digitalgym opened #44 "symlink Big Sur"
Is there a workaround for mac symlink restictions with Big Sur OS system files?

[2020-12-19 16:36] jlongman commented on #44
works for me, what are you seeing?

[2021-02-12 17:07] viyullas commented on #26
I think this is still unsolved, isn't it?
I have defined 2 roles but just one shows in the credentials file.

Also it would be nice to be able to asign a name to the default profile, instead of "default"

[2021-04-06 12:10] #4 closed

[2021-10-22 16:05] rogermyung opened #49 "Need to know what permissions the IAM role uses"
Our standard company roles work great with this plugin.
We have a custom IAM role that is meant to provide access to a few select resources in the production account.
When we use this role, the plugin does not download the credentials file.  We have tried adding "sts:TagSession", but are unsure what else it might need.

[2021-11-11 17:28] reznid01 opened #50 "Support for China region"
Can someone to let me know if there a way to use this plugin for China accounts? I tried to use it on both Chrome and FireFox but couldn't make it work. Your help is highly appreciated.

[2022-06-27 12:46] max-allan-surevine opened #52 "Violates Chrome Web store policy..."
It violates some policy and has been removed. Which is annoying because it is very useful.

[2022-06-27 16:17] max-allan-surevine commented on #52
I downloaded the source and "Add unpacked plugin" and have it working again!
I did try to update to a v3 manifest, but that needs a better understanding of how to write a plugin...   No access to the DOM in the script.js with v3.

[2022-06-27 18:47] prolane commented on #52
Apparently Google took down my extension, because they need some explanation on the code, the permissions its using and a statement from me that I'm not collecting and selling data. I've answered all the required questions in their developer portal and submitted it for review. They say the review can take up to 30 days.

To be fair, Google did sent me a warning one month ago, but I missed it.

[2022-07-01 12:43] prolane commented on #52
The extension is back in the Chrome Web Store with an updated version `2.8`. For now, the only code change in this version is removing the `tabs` permission since that was not required. Google is happy again; The policy violation error is gone.

[2022-07-01 12:43] #52 closed

[2022-07-05 20:09] ScriptAutomate opened #53 "FireFox Support: Is current extension on Firefox extensions maintained by this repo/owner?"
Is this supported/maintained for Firefox? If so, what is the extension link, and can it be placed in the README? I can see some in the Firefox extensions that might be this extension, but I want to be certain I'm installing the official one for security purposes.

- https://addons.mozilla.org/en-US/firefox/addon/saml-to-aws-sts-keys/

[2022-07-10 06:42] prolane commented on #53
Hi @ScriptAutomate, the FireFox extension uses this repo as source. However, it is uploaded to Mozilla and maintained by someone else. If you have any questions about the FireFox extension, please try to get in touch with. @gbvanrenswoude.

I'll add a note about this in the README for future reference for others.

[2022-07-10 06:42] #53 closed